* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: MyriadPro-LightSemiExt;
  src: url(./fonts/MyriadPro-LightSemiExt.eot),
  url(./fonts/MyriadPro-LightSemiExt.ttf),
  url(./fonts/MyriadPro-LightSemiExt.woff);
}
@font-face {
  font-family: MyriadPro-Bold;
  src: url(./fonts/MyriadPro-Bold.ttf),
  url(./fonts/MyriadPro-Bold.woff);
}
@font-face {
  font-family: MyriadPro-Regular;
  src: url(./fonts/MyriadPro-Regular.eot),
  url(./fonts/MyriadPro-Regular.ttf),
  url(./fonts/MyriadPro-Regular.woff);
}
.fullContent {
  width: 100%;
}
.left {
  width: 44%;
  float: left;
}
.right {
  width: 56%;
  float: left;
}
.logo {
  background-image: url(./images/logo1.jpg);
  max-width: 100%;
  margin-top: 89px;
  margin-left: 161px;
  width: 240px;
  height: 240px;
  background-size: 100%;
  border: 2px solid #3f6fb6;
  border-radius: 100%;
}
.name {
  font-family: MyriadPro-LightSemiExt, sans-serif;
  font-size: 52px;
  color: black;
  margin: 38px 0 0 141px;
}
.surname {
  font-family: MyriadPro-Bold, sans-serif;
  font-size: 62px;
  color: black;
  margin-left: 137px;
}
.designer {
  font-family: MyriadPro-Bold, sans-serif;
  font-size: 24px;
  color: black;
  margin-left: 171px;
}
.leftContent {
  margin-left: 61px;
  margin-right: 76px;
}
.profile {
  margin-top: 80px;
}
.img1 {
  float: left;
}
.text {
  color: #3d6cb0;
  font-family: MyriadPro-Bold, sans-serif;
  font-size: 41px;
  padding: 5px 10px 0 10px;
  float: left;
}
.line {
  padding-top: 27px;
}
.line hr {
  height: 5px;
  border: none;
  background-color: #3d6cb0;
}
.profileText {
  margin-top: 50px;
  font-family: MyriadPro-Regular, sans-serif;
  font-size: 16px;
}
.contact {
  margin-top: 50px;
}
.img2 {
  float: left;
}
.contactText {
  margin-top: 37px;
}
.contactText table {
  text-align: left;
  max-width: 100%;
  width: 100%;
}
.contactText th {
  font-size: 20px;
  font-family: MyriadPro-Bold, sans-serif;
  color: #3d6cb0;
  padding-top: 40px;
}
.contactText td {
  font-size: 20px;
  font-family: MyriadPro-Regular, sans-serif;
  padding-top: 40px;
}
.skills {
  margin-top: 50px;
  margin-bottom: 30px;
}
.img3 {
  float: left;
}
.skillsText {
  font-family: MyriadPro-Regular, sans-serif;
  margin-top: 64px;
  text-align: center;
}
.rate {
  margin-top: 6px;
}
.circle1 {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #3d6cb0;
  display: inline-block;
  margin-right: 7px;
}
.circle2 {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #e6e6e6;
  display: inline-block;
  margin-right: 7px;
}
.name1 {
  margin-top: 10px;
  font-size: 25px;
}
.rightContent {
  margin-right: 58px;
}
.education {
  margin-top: 90px;
}
.img4 {
  float: left;
}
.list {
  margin-top: 66px;
  margin-left: 50px;
}
li::before {
  display: inline-block;
  vertical-align: text-top;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #000000;
  margin-right: 8px;
  margin-left: -40px;
  content: '';
}
.name2, .data {
  display: inline-block;
}
.name2 {
  font-family: MyriadPro-Bold, sans-serif;
  font-size: 25px;
  color: #3d6cb0;
}
.data {
  font-size: 25px;
  font-family: MyriadPro-Regular, sans-serif;
  margin-left: 15px;
}
.name3 {
  font-size: 25px;
  font-family: MyriadPro-Regular, sans-serif;
  margin-top: 5px;
  margin-left: -13px;
}
.educationText {
  font-size: 15px;
  font-family: MyriadPro-Regular, sans-serif;
  margin-top: 5px;
  margin-left: -13px;
}
.list ul li {
  margin-top: 20px;
}
ul {
  list-style-type: none;
}
.experience {
  margin-top: 55px;
}
.img5 {
  float: left;
}
.name4 {
  display: inline-block;
  font-family: MyriadPro-Bold, sans-serif;
  font-size: 25px;
}
.name5 {
  font-size: 25px;
  font-family: MyriadPro-Regular, sans-serif;
  margin-top: 5px;
  margin-left: -13px;
}
.companyText {
  font-size: 15px;
  font-family: MyriadPro-Regular, sans-serif;
  margin-top: 5px;
  margin-left: -13px;
}
.softWare {
  margin-top: 55px;
}
.img6 {
  float: left;
}
.softWare table {
  width: 100%;
}
.softWare table td {
  width: 50%;
}
.photoshop, .illustrator, .indesign {
  margin-top: 30px;
  margin-right: 35px;
}
.dreamWeaver, .after, .htmlCSS {
  margin-top: 30px;
  margin-left: 35px;
}
.photoshop, .illustrator, .indesign, .dreamWeaver, .after, .htmlCSS {
  font-family: MyriadPro-Regular, sans-serif;
  font-size: 25px;
}
.line1 {
  background: linear-gradient(to right, #3d6cb0 90%, #e6e6e6 10%);
  height: 24px;
}
.line3 {
  background: linear-gradient(to right, #3d6cb0 70%, #e6e6e6 30%);
  height: 24px;
}
.line5 {
  background: linear-gradient(to right, #3d6cb0 55%, #e6e6e6 45%);
  height: 24px;
}
.line2 {
  background: linear-gradient(to right, #3d6cb0 82%, #e6e6e6 18%);
  height: 24px;
}
.line4 {
  background: linear-gradient(to right, #3d6cb0 60%, #e6e6e6 40%);
  height: 24px;
}
.line6 {
  background: linear-gradient(to right, #3d6cb0 90%, #e6e6e6 10%);
  height: 24px;
}
.line1, .line2, .line3, .line4, .line5, .line6 {
  margin-top: 15px;
}
@media screen and (max-width: 780px) {
  .left, .right {
    float: none;
    width: 100%;
  } 
  .logo {
    margin-top: 60px;
    margin-left: 250px;
  }
  .name {
    margin-left: 240px;
  }
  .surname {
    margin-left: 235px;
  }
  .designer {
    margin-left: 270px;
  }
  .leftContent {
    margin-left: 70px;
    margin-right: 90px;
  } 
  .rightContent {
    margin-left: 70px;
    margin-right: 90px;
  }
}
@media screen and (max-width: 780px) {
  .logo {
    margin-top: 60px;
    margin-left: 130px;
  }
  .name {
    margin-left: 120px;
    margin-top: 20px;
  }
  .surname {
    margin-left: 115px;
    margin-top: -12px;
  }
  .designer {
    margin-left: 150px;
    margin-top: -10px;
  }
  .profile, .contact, .skills, .education, .experience {
    margin-top: 20px;
  }
  .profileText {
    margin-top: 30px;
  }
  .data {
    margin-left: -10px;
    font-size: 21px;
    margin-top: 5px;
  }
  .contactText {
    margin-top: 10px;
  }
  .skillsText {
    margin-top: 30px;
  }
  .list {
    margin-top: 30px;
  }
  .softWare {
    margin-top: 20px;
  }
  .line1, .line2, .line3, .line4, .line5, .line6 {
    margin-top: 25px;
  }
 }